/*
|-------------------------------------------------------------------------------
| Error message - 404 page
|-------------------------------------------------------------------------------
*/
.c-error-message {
    color: $c-gray-dark;
    line-height: 2;
    text-align: center;
}
