/*
|-------------------------------------------------------------------------------
| Sidebar header
|-------------------------------------------------------------------------------
*/
// Cover
.c-sidebar-header {
    @include bg-size(cover);
    position: relative;
    margin-bottom: 65px;
    height: 100px;
    background-position: 50% 50%;
}

// Logo and link
.c-sidebar-header__link,
.c-sidebar-header__image {
    display: block;
    width: 80px;
    height: 80px;
}

// Logo
.c-sidebar-header__image {
    @include border-radius(40px);
    border: 2px solid $c-white;
}

// Link {
.c-sidebar-header__link {
    position: absolute;
    bottom: -40px;
    left: 50%;
    z-index: 1;
    margin-left: -40px;
}
