/*
|-------------------------------------------------------------------------------
| Sidebar promotion links
|-------------------------------------------------------------------------------
*/
.c-sidebar-promotion-links {
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-size: 0.8em;
    border-bottom: 1px solid $c-gray;
}

.c-sidebar-promotion-links__item {
    display: block;
    padding: 5px 15px;
}
