/*
|-------------------------------------------------------------------------------
| Site content
|-------------------------------------------------------------------------------
*/
.c-site-content {
    max-width: $max-page-width;
    min-height: 100vh;
    background: $c-white;
    border-right: 1px solid $c-gray;
    border-left: 1px solid $c-gray;

    // Less padding for mobile devices
    @include breakpoint(mobile) {
        padding: 20px;
    }

    // More padding + margin on desktop
    @include breakpoint(desktop) {
        margin-left: $sidebar-width;
        padding: 30px;
    }
}
