/*
|-------------------------------------------------------------------------------
| Base elements / Un-classed elements
|-------------------------------------------------------------------------------
*/
// All
* {
    box-sizing: border-box;
}

// Body, Html
body, html {
    height: 100%;
}

// Body
body {
    min-width: 320px;
    color: $c-black;
    font-size: 16px;
    font-family: 'Merriweather', serif;
    line-height: 1.5;
    background: $c-background;
}

// Anchors
a {
    @include transition();
    outline: none;
    color: $c-black;
    text-decoration: none;

    &:hover {
        color: $c-gray-dark;
    }
}

// Headings
h1 {
    margin: 0;
    font-size: 1.4em;
}

h2 {
    margin: 0;
    font-size: 1.2em;
}

h3 {
    margin: 0;
    font-size: 1em;
}
